<div>


    <div class="jumbotron">
        <h1>BlakJack</h1>
        <br>
        <h5>A Tool that help you trade smart at Oanda.</h5>

    </div>


    <!-- <h2>BlackJack </h2>
    <h6>A Tool that help you trade smart at Oanda.</h6> -->
    <br>
    <p>Our Web application - BlackJack is build to help traders on https://www.oanda.com to manage their
        accounts and trade smarter. We have opened an Oanda practice account for testing and demonstrating
        purpose. We used AngularJS framework to make it interactive for users. Here's a full list of api calls
        available from Oanda: http://developer.oanda.com/rest-live-v20/account-ep/</p>
    <p>You will then see the profile view. You can see a list of different informations about your account at
        the left with the 4 most significant ones at the top. you can also see a table of your current open
        trades at the right with detailed information such as creation time, instrument name, number of units,
        etc.</p>

    <p>Use the switch bar at the top, you can navigate through other views such as Market, Orders, About Us,
        Contact Us, etc</p>

    <p>In the Market view, you can see a list of different instruments at the left and current price chart at
        the right. You can click each of them at the left to change the chart at the right. Note that this live
        chart is updated every 5 seconds. The chart will be flat when the market is closed or inactive.</p>

    <p>You can also trade instruments in the Market view. Select the instrument from the list at the left, enter
        the number of units and click Buy or Sell to place orders. A success/error message will show up after
        you place your order based on weather you have enough margin. Note that a trade can be placed successful
        when the market is closed, however, it can only execute when the market is reopened the next day. </p>

    <p>In the Order view, you can see a table of pending orders of your account. Pending orders is the orders
        that you submitted at a different price that haven't triggered yet.</p>
</div>